.Song {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    margin-bottom: 0.5rem;
    font-size: 1.5rem;
    border: 1px solid #eee;
    box-shadow: 0 1px 1px #ccc;
}

.Song p {
    margin: 0 !important;
}

.Song button {
    padding: 0.5rem 1rem;
    border: 1px solid #eee;
    outline: none;
    cursor: pointer;
}
