*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    line-height: 1.5;
}

body {
    font-family: "Helvetica Neue";
    font-weight: 400;
    color: #111;
    background-color: #fff;
}
